

body{
  background-color: white;
}


.niftycontainer {
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 100px;
 color: black
  
}



.nifti{
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}


.niftyarticle h2{
  padding: 20px;
  
}



@media (max-width: 767px) {
  .niftycontainer {
    display: flex;   
    align-items: center;
    justify-content: center;    
    color: black;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


@media (max-width: 767px) {
  .nifti {
    display: flex;   
    align-items: center;
    justify-content: center;    
    color: black;
   
  }
}

@media (max-width: 767px) {
 .niftyarticle h2 {
    display: flex;   
    align-items: center;
    justify-content: center;    
    color: black;
   
  }
}


