.niftycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 100px;
 color: white;
 margin-top: 200px;
  
}

.titlesection{
  margin-bottom: 200px;
}
