
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
    background-color: #111;
    position: absolute;   
    
}

#box{
    height: 200px;
    width: 600px;
    background-color: rgba(93, 93, 199, 0.864);
    padding: 8px;
    position: relative; 
    
}

#box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 600px;
    width: 200px;
    background-color: #111;
    animation: move 1.5s infinite;
    
    
}

#in{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
    z-index: 99;   
}




@keyframes move {
    100%{
        transform: translate(-50%, -50%) rotate(110deg);
    }
    
}



h2{
    color: rgb(99, 76, 224);
    text-align: center;
    padding: 70px 20px;
    font-size: 40px;
}


@media (max-width: 575px){
    .container {
        max-width: max-content;     
        margin-inline: auto;
        overflow: hidden;
      }

      h2{
        color: rgb(0, 200, 255);
      }

      #box{
        background-color: aqua;
      }
}



