@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
           
}




/*
  *Footer
*/

footer {
    background-color: #120b27;

}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;

}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    margin: 1px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 1.3em;
    color: #fff;
    opacity: 0.9;

}

.socialIcons a:hover {
    background-color: #7852be;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #fff;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #fff;
    
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



/*
*Responsive footer
*/

@media (max-width: 700px) {

    .footerNav ul {
        flex-direction: column;

    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
  
        
    }

    
    
    



/*
* About Us
*/

.about-us h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ac9696;
    font-size: 2.3rem;
    padding: -30px;
    margin-bottom: 250px;
    font-family: 'Poppins', sans-serif;

}

.about-us h2 {    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;   
    font-family: 'Poppins', sans-serif;

}

.about-us h3 {    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px; 
    font-family: 'Poppins', sans-serif;
}

.about-us h4 {    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
}

.para .first-para {
    display: flex;
    color: #fff;
    padding: 5px 200px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.para .second-para {
    display: flex;
    color: #fff;
    padding: 5px 200px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.para .third-para {
    display: flex;
    color: #fff;
    padding: 5px 200px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
}

.para .fourth-para {
    display: flex;
    color: #fff;
    padding: 5px 200px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
}


.para .fifth-para {
    display: flex;
    color: #fff;
    padding: 5px 200px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
}




@media (max-width: 600px) {
    .about-us h1 {
        font-size: 1.7rem;
        margin-top: -40px;
    }
    
    .about-us h2 {
        font-size: 16px;
        color: #ac9696;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
.about-us h3 {
    font-size: 18px;
    color: #ac9696;
    padding: 12px;
}

.about-us h4 {
    font-size: 14px;
    color: #ac9696;
}

.para .first-para {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 16px;
}

.para .second-para {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 16px;
}

.para .third-para {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 16px;
}


.para .fourth-para {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 16px;
}


.para .fifth-para {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 16px;
}

}





/*
* Privacy Policy
*/

.privacy-policy h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ac9696;
    font-size: 2.5rem;
}

.privacy-policy h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.rem;
    font-weight: 400;
    padding: 10px;
}



.privacy-policy h3 {
    display: flex;    
    color: #fff;
    font-size: 2.rem;
    font-weight: 400;
    padding: 5px 100px;
}

.privacy-policy h4 {
    display: flex;    
    color: #fff;
    font-size: 2.rem;
    font-weight: 400;
    padding: 5px 100px;
}

.privacy-policy h5 {
    color: #fff;
    display: flex;
    padding: 15px 100px;
    font-size: 17px;
}


.privacy-policy h6 {
    color: #fff;
    display: flex;
    padding: 5px 100px;
    font-size: 17px;

}


.privacy-policy p {
    display: flex;    
    color: #fff;
    padding: 5px 100px;
}


/*
* Privacy Policy responsive
*/


@media (max-width: 600px) {
    .privacy-policy h1 {
        font-size: 24px;
        margin-top: -60px;
    }

    .privacy-policy h2 {
        font-size: 18px;
        
    }

    .privacy-policy h3 {
        display: flex;
        padding: 5px 20px;
        color: #ac9696;
        
    }

    .privacy-policy h4 {
        display: flex;
        padding: 5px 20px;
        color: #ac9696;   
        
    }

    .privacy-policy h5 {
        display: flex;
        padding: 5px 10px;
        color:#ac9696;
        font-weight: 100;
        
        

    }

    .privacy-policy h6 {
        display: flex;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 200;
        
    }


    .privacy-policy p {
        display: flex;
        padding: 5px 20px;
    }

}





/*
* Terms & Condition
*/

.terms-condition h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ac9696;
    font-size: 2.3rem;
    padding: -30px;
    

}

.terms-condition h3 {    
    color: white;
    padding: 0px 200px;
    margin-bottom: -20px;
    

}

.terms-condition p {
    display: flex;
    color: white;
    padding: 30px 200px;
}

@media (max-width: 600px) {
    .terms-condition h1 {
        font-size: 22px;
    }

    .terms-condition h3 {
       padding: 5px 24px;
       font-size: 16px;
       color: #ac9696;
        
    }

    .terms-condition p {
        display: flex;
        padding: 20px 30px;
        font-size: 15px;
    }
    
}



/*
*hero section
*/

.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
    
    
   
}

.hero .chart {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100%;
    padding: 30px 22px;
   
}

.chart img {
    width: 80%;
    height: 90%;
}


.hero .previous {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    
}

.hero .resistance {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(9, 247, 9);
    font-size: 20px;
    padding: 20px 100px;
    font-family: 'Poppins', sans-serif;
}

.hero h4 {
    font-size: 18px;
    color: rgb(9, 247, 9);
    font-weight: 400;
    padding: 0px 300px;
}



.hero .ldl {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fa220a;
    font-size: 20px;
    padding: 20px 80px;
    font-family: 'Poppins', sans-serif;
}

.hero h5 {
    color: red;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 300px;
}

.hero h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1da0a;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}




@media (max-width: 600px) {
       
    .chart img {
      width: 100%;
      height: auto;
     }

       .daily-analysis img {
            width: 100%;
            height: auto;
        }

        .daily-analysis .if-breaks {
            justify-content: start;
            align-items: start;
            margin-left: -180px;
            margin-right: -100px;          
                        
        }

        .daily-analysis .resist-levels {
           
            justify-content: start;
            align-items: start;
            margin-left: -180px;
            margin-right: -100px;  
        }

        .daily-analysis .if-breaks-low {
            justify-content: start;
            align-items: start;
            margin-left: -180px;
            margin-right: -100px;  
        }

        .daily-analysis .support-levels {
            justify-content: start;
            align-items: start;
            margin-left: -180px;
            margin-right: -100px;  
        }

        .daily-analysis h3 {            
            margin-left: -180px;
            margin-right: -100px;
        }

        .daily-analysis .h-line1 {
            display: flex;
            justify-content: center;           
            text-align: center;
            color: white;
            font-size: 18px;
        }

	    

 }
            
        

    .hero h1 {
        font-size: 20px;
        align-content: center;  
        display: flex;
        text-align: center;
        font-weight: normal;
        padding: 0px 40px;
        
    }

    .hero .previous {
        font-size: 17px;
    }
    
    .hero .resistance {
        font-size: 17px;
        padding: 20px;
    }

    .hero .ldl {
        font-size: 17px;
        padding: 20px;
    }  

        
.hero h4 {
    font-size: 18px;
    color: rgb(9, 247, 9);
    font-weight: 400;
    padding: 0 50px;
    
    }

    
.hero h5 {
    color: red;
    font-size: 18px;
    font-weight: 400;
    padding: 0 50px;
    
}
        
    

/*
* New hero section start
*/




.daily-analysis h1 {
    color: rgb(247, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;  
    
}

.daily-analysis h2 {
    color: white;
    font-size: 17px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 40px;
}

.daily-analysis .h-line1 {
    color: red;
    display: block;
    padding: 20px 90px;
}

.daily-analysis .article {
    color: white;
    padding: 20px 90px;
}

/*
* hero section
*/

	
.daily-analysis .charting {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100%;
    padding: 30px 22px;
   
}

.charting img {
    width: 80%;
    height: 90%;
}

.daily-analysis .previous-close {
    color: white;
    text-align: center;
    font-size: 20px;
}

.daily-analysis .if-breaks {
    color: rgb(8, 248, 8);
    font-size: 20px;
    padding: 40px 200px;
}

.daily-analysis .resist-levels {
    color: rgb(8, 248, 8);
    font-size: 20px;
    font-weight: 300;
    padding: 0px 200px;
    margin-top: -40px;
}

.daily-analysis span{
    color: white;
}

.daily-analysis h3 {
    color: yellow;
    padding: 0px 200px; 
    font-size: 20px;
    font-weight: 400;
}

.daily-analysis .lastday-low {
    color: white;
    font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 60px;

}

.daily-analysis .if-breaks-low {
    color: #f55307;
    font-size: 20px;
    padding: 50px 200px;
    
}

.daily-analysis .support-levels {
    color: #f55307;
    font-size: 20px;
    padding: 0px 200px;
    margin-top: -40px;
    margin-bottom: 50px;
    font-weight: 300;
}





/*
* New hero section ends here
*/





    /*
    * Footer3
    */
    
.container {
    max-width: 1170px;
    margin: auto;

}

.footer {
     background-color: #1abc9c; 
     padding: 70px 0;
}

.row {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 15px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #f1da0a;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #1abc9c;    
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 6px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;        
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;

}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;

}

@media (max-width: 767px) {
    .footer-col {
    width: 50%;
    margin-bottom: 30px;
    }
}


@media (max-width: 567px) {
    .footer-col {
    width: 100%;
    margin-bottom: 30px;
    }
}


 /*
    * Strategy
*/



    

/*
* new navbar
*/


nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    background-color: #000;
    padding: 0 5%;
}

nav .logo {
    float: left;
    width: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

nav .logo a {
    text-decoration: none;
    color: #fff;
}


nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

nav .links li {
    list-style: none;
    
}

nav .links a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#nav-toggle {
    position: absolute;
    display: none;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {

    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }    
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        background-color: #000;
        flex-direction: column;        
        width: auto;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a {
        font-size: 20px;
        color: #1abc9c;   
    }

    nav :checked ~ .links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }
    
    nav :checked ~  .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    
    nav :checked ~  .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~  .icon-burger .line:nth-child(2) {
        transform: translateY(-10px) rotate(-225deg);
        opacity: 0;
    }

    nav .animation {
        display: none;
    }
}

/*
* nav Animation
*/
nav .animation {
    position: absolute;
    height: 1%;
    bottom:  10%;   
    background-color: #1abc9c;    
    width: 130px;
    border-radius: 1px;
    transition: all 0.5s ease 0s;
}



/*
* xxxxx
*/


